version: '3'

services:
  librarian:
    image: codeberg.org/librarian/librarian:latest 
    ports:
      - 3550:3550
    volumes:
      - ./extras.conf:/app/config.yml
    restart: unless-stopped

  stream-proxy:
    image: codeberg.org/librarian/stream-proxy-ng:latest
    ports:
      - 3001:3001
    restart: unless-stopped
