version: "3.9"
services:
  frontend:
    image: codeberg.org/safetwitch/safetwitch
    ports:
      - "5070:80"
    environment:
      - SAFETWITCH_BACKEND_DOMAIN=api.safetwitch.{{server_prefix}}.projectsegfau.lt
      - SAFETWITCH_INSTANCE_DOMAIN=safetwitch.projectsegfau.lt
      - SAFETWITCH_HTTPS=true
    restart: always
  backend:
    image: codeberg.org/safetwitch/safetwitch-backend
    ports:
      - "5072:7000"
      # Something is using 5071, so I went ahead and changed it to 5072.
    environment:
      - PORT=7000
      - URL=https://api.safetwitch.{{server_prefix}}.projectsegfau.lt
    restart: always
