version: '3'

services:
  anonymousoverflow:
    image: ghcr.io/httpjamesm/anonymousoverflow:latest
    environment:
      - APP_URL=https://overflow.projectsegfau.lt
      - JWT_SIGNING_SECRET={{anonymousoverflow_signing_secret}}
    ports:
      - '8694:8080'
    restart: 'always'
