{
	log {
		output discard
	}
}

(tor) {
        header {
                -Strict-Transport-Security
                -Referrer-Policy
                -X-XSS-Protection
                -Content-Security-Policy
                # disable clients from sniffing the media type
                X-Content-Type-Options nosniff
				Permissions-Policy "accelerometer=(), ambient-light-sensor=(), autoplay=(), battery=(), camera=(), clipboard-read=(), display-capture=(), document-domain=(), encrypted-media=(), fullscreen=(), geolocation=(), gyroscope=(), hid=(), idle-detection=(), interest-cohort=(), magnetometer=(), microphone=(), midi=(), payment=(), picture-in-picture=(), screen-wake-lock=(), serial=(), usb=(), sync-xhr=(), xr-spatial-tracking=()";

                # clickjacking protection
                X-Frame-Options SAMEORIGIN
                Onion-Location http://{args[0]}.pjsfkvpxlinjamtawaksbnnaqs2fc2mtvmozrzckxh7f3kis6yea25ad.onion{path}
                defer
        }
}
(torloc) {
        header Onion-Location http://{args[0]}.pjsfkvpxlinjamtawaksbnnaqs2fc2mtvmozrzckxh7f3kis6yea25ad.onion{path}
}
(i2ploc) {
        header X-I2P-Location http://{args[0]}{path}
}
(acmedns) {
	tls {
        dns rfc2136 {
                key_name "dynupd"
                key_alg "hmac-sha256"
                key "{{ rfc2136_key }}"
                server "89.33.85.209:53"
        }
	}
}
(def) {
        header {
                # disable FLoC tracking
				Permissions-Policy "accelerometer=(), ambient-light-sensor=(), autoplay=(), battery=(), camera=(), clipboard-read=(), display-capture=(), document-domain=(), encrypted-media=(), fullscreen=(), geolocation=(), gyroscope=(), hid=(), idle-detection=(), interest-cohort=(), magnetometer=(), microphone=(), midi=(), payment=(), picture-in-picture=(), screen-wake-lock=(), serial=(), usb=(), sync-xhr=(), xr-spatial-tracking=()";

                # enable HSTS
                Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
                # disable clients from sniffing the media type
                X-Content-Type-Options nosniff

                # clickjacking protection
                X-Frame-Options SAMEORIGIN

                X-XSS-Protection "1; mode=block"
                defer
        }
        
        import acmedns
}

import ./*.Caddyfile

{{ inventory_hostname }}.projectsegfau.lt {% if inventory_hostname == 'eu' %} pizza1.projectsegfau.lt {% endif %} {
        redir https://wiki.projectsegfau.lt/index.php?title={{ wiki_page }}
}
cdn.projectsegfau.lt cdn.{{ server_prefix }}.projectsegfau.lt {
        encode zstd gzip
        root * /var/cdn
        file_server {
                browse
        }
}
lbry.{{ server_prefix }}.projectsegfau.lt lbry.projectsegfau.lt {
        reverse_proxy :3550
        import def
		import torloc lbry
        import i2ploc pjsf7uucpqf2crcmfo3nvwdmjhirxxjfyuvibdfp5x3af2ghqnaa.b32.i2p
}
nitter.{{ server_prefix }}.projectsegfau.lt nitter.projectsegfau.lt n.psf.lt n.{{ server_prefix }}.psf.lt {
        import def
		import banips
        log {
                # This is temporarily required to monitor nitter traffic due to scrapers being more active, so we need to monitor and rate limit them at a later date.
                        output file /var/log/caddy/nitter.log
                        format json
                }
        header {
                header Content-Security-Policy "default-src 'none'; script-src 'self' 'unsafe-inline'; script-src-attr 'none'; img-src 'self'; style-src 'self' 'unsafe-inline'; style-src-elem 'self'; font-src 'self'; object-src 'none'; media-src 'self' blob:; worker-src 'self' blob:; base-uri 'self'; form-action 'self'; frame-ancestors 'self'; connect-src 'self' https://*.twimg.com; manifest-src 'self'"
        }
        reverse_proxy :8065 {
			header_up X-Real-IP {remote_host}
		}
		import torloc nitter
		import i2ploc pjsfs4ukb6prmfx3qx3a5ef2cpcupkvcrxdh72kqn2rxc2cw4nka.b32.i2p
}
libreddit.{{ server_prefix }}.projectsegfau.lt libreddit.projectsegfau.lt lr.psf.lt lr.{{ server_prefix }}.psf.lt {
        reverse_proxy :6464
        import def
		import torloc libreddit
		import i2ploc pjsfkref7g66mji45kyccqnn5hmjtjp3cfodozabpyplj2rmv5sa.b32.i2p
}
teddit.{{ server_prefix }}.projectsegfau.lt teddit.projectsegfau.lt t.psf.lt t.{{ server_prefix }}.psf.lt {
        reverse_proxy :9061
        import def
		import torloc teddit
}
inv.{{ server_prefix }}.projectsegfau.lt i.{{ server_prefix }}.psf.lt {
        reverse_proxy :7573 {
                header_up Host "inv.{{server_prefix}}.projectsegfau.lt"
        }
        @pipedproxy {
                path /videoplayback
                path /videoplayback/*
                path /vi/*
                path /ggpht/*
        }
        handle @pipedproxy {
                reverse_proxy :6970 {
                        header_up Host "pipedproxy.{{server_prefix}}.projectsegfau.lt"
                }
                @jpgRedirect path_regexp maxres2 /vi/(.+)/maxres.jpg
                @thumbnailRedirect path /ggpht/*
                uri @thumbnailRedirect strip_prefix /ggpht
                rewrite @thumbnailRedirect ?host=yt3.ggpht.com
                uri @jpgRedirect replace /maxres.jpg /maxres2.jpg
                rewrite /vi/* ?host=i.ytimg.com
        }
		header -X-Frame-Options
		import def
		import torloc inv
}
gothub.{{ server_prefix }}.projectsegfau.lt gothub.projectsegfau.lt gh.psf.lt gh.{{ server_prefix }}.psf.lt {
        reverse_proxy :1024
        import def
		import torloc gothub
}
overflow.{{ server_prefix }}.projectsegfau.lt overflow.projectsegfau.lt o.psf.lt o.{{ server_prefix }}.psf.lt {
        reverse_proxy :8694
        import def
		import torloc overflow
}
rimgo.{{ server_prefix }}.projectsegfau.lt rimgo.projectsegfau.lt rg.psf.lt rg.{{ server_prefix }}.psf.lt {
        reverse_proxy :9016
        import def
		import torloc rimgo
}
bw.{{ server_prefix }}.projectsegfau.lt bw.projectsegfau.lt bw.psf.lt bw.{{ server_prefix }}.psf.lt {
        import def
		import torloc breezewiki
		import i2ploc pjsfk4xvekoc7wx4pteevp3q2wy7jmzlem7rvl74nx33zkdr4vyq.b32.i2p
        reverse_proxy :10416
}
scribe.{{ server_prefix }}.projectsegfau.lt scribe.projectsegfau.lt sc.psf.lt sc.{{ server_prefix }}.psf.lt {
        import def
		import torloc scribe
        import i2ploc pjsflkkkcn33ahmzmpyq6idy2knkzh4atp7zaetqfsnenpyori6a.b32.i2p
        reverse_proxy :8006
}
translate.{{ server_prefix }}.projectsegfau.lt translate.projectsegfau.lt tl.psf.lt tl.{{ server_prefix }}.psf.lt {
	import def
	reverse_proxy :5046
	import torloc translate
}
safetwitch.{{ server_prefix }}.projectsegfau.lt safetwitch.projectsegfau.lt tw.psf.lt tw.{{ server_prefix }}.psf.lt {
	import def
	reverse_proxy :5070
	import torloc safetwitch
}
api.safetwitch.{{ server_prefix }}.projectsegfau.lt {
	reverse_proxy :5072
	# Something is taking the port 5071, I've went ahead and changed it to 5072 temporarily, can be permanently kept.
}
hyperpipe.{{ server_prefix }}.projectsegfau.lt hyperpipe.projectsegfau.lt hp.psf.lt hp.{{ server_prefix }}.psf.lt {
	import def
	reverse_proxy :8843
}
hyperpipebackend.{{ server_prefix }}.projectsegfau.lt {
	reverse_proxy :3536
}
search.{{ server_prefix }}.projectsegfau.lt search.projectsegfau.lt s.psf.lt s.{{ server_prefix }}.psf.lt {
        import def
		import torloc search
        reverse_proxy :8081 {
			header_up X-Real-IP {remote_host}
		}
        @api {
                path /config
                path /healthz
                path /stats/errors
                path /stats/checker
        }
        @static {
                path /static/*
        }
        @notstatic {
                not path /static/*
        }
        @imageproxy {
                path /image_proxy
        }
        @notimageproxy {
                not path /image_proxy
        }
        header {
                # Enable HTTP Strict Transport Security (HSTS) to force clients to always connect via HTTPS
                Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
                # Enable cross-site filter (XSS) and tell browser to block detected attacks
                X-XSS-Protection "1; mode=block"
                # Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
                X-Content-Type-Options "nosniff"
                # Disable some features
                Permissions-Policy "accelerometer=(),ambient-light-sensor=(),autoplay=(),camera=(),encrypted-media=(),focus-without-user-activation=(),geolocation=(),gyroscope=(),magnetometer=(),microphone=(),midi=(),payment=(),picture-in-picture=(),speaker=(),sync-xhr=(),usb=(),vr=()"
                # Disable some features (legacy)
                Feature-Policy "accelerometer 'none';ambient-light-sensor 'none'; autoplay 'none';camera 'none';encrypted-media 'none';focus-without-user-activation 'none'; geolocation 'none';gyroscope 'none';magnetometer 'none';microphone 'none';midi 'none';payment 'none';picture-in-picture 'none'; speaker 'none';sync-xhr 'none';usb 'none';vr 'none'"
                # Referer
                Referrer-Policy "no-referrer"
                # X-Robots-Tag
                X-Robots-Tag "noindex, noarchive, nofollow"
                # Remove Server header
                -Server
        }
		import acmedns
        header @api {
                Access-Control-Allow-Methods "GET, OPTIONS"
                Access-Control-Allow-Origin "*"
        }
        # Cache
        header @static {
                # Cache
                Cache-Control "public, max-age=31536000"
                defer
        }
        header @notstatic {
                # No Cache
                Cache-Control "no-cache, no-store"
                Pragma "no-cache"
        }
        # CSP (see http://content-security-policy.com/ )
        header @imageproxy {
                Content-Security-Policy "default-src 'none'; img-src 'self' data:"
        }
        header @notimageproxy {
                Content-Security-Policy "upgrade-insecure-requests; default-src 'none'; script-src 'self'; style-src 'self' 'unsafe-inline'; form-action 'self' https://github.com/searxng/searxng/issues/new; font-src 'self'; frame-ancestors 'self'; base-uri 'self'; connect-src 'self' https://overpass-api.de; img-src 'self' data: https://*.tile.openstreetmap.org; frame-src https://www.youtube-nocookie.com https://player.vimeo.com https://www.dailymotion.com https://www.deezer.com https://www.mixcloud.com https://w.soundcloud.com https://embed.spotify.com"
        }
}
piped.{{ server_prefix }}.projectsegfau.lt pipedproxy.{{ server_prefix }}.projectsegfau.lt pipedapi.{{ server_prefix }}.projectsegfau.lt {
        reverse_proxy :6970
		header -X-Frame-Options
		import def
}
pi.{{ server_prefix }}.psf.lt {
        reverse_proxy :6970 {
                header_up Host "{% if server_prefix == 'eu' %}piped.projectsegfau.lt{%else%}piped.{{ server_prefix }}.projectsegfau.lt{%endif%}"
        }
		header -X-Frame-Options
		import def
}
