version: "3"

services:

  nitter:
    image: codeberg.org/aryak/nitter-image:latest
    ports:
      - "8387:8080"
    volumes:
      - ./extras.conf:/src/nitter.conf:ro
      - ./guest_accounts.jsonl:/src/guest_accounts.jsonl:ro
    depends_on:
      - nitter-redis
    restart: unless-stopped

  nitter-redis:
    image: redis:6-alpine
    container_name: nitter-redis
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - nitter-redis:/data
    restart: unless-stopped

volumes:
  nitter-redis:
