[libre]
Enabled = True
Instance = https://libretranslate.projectsegfau.lt

[google]
Enabled = True

[deepl]
# Deepl Translate does not support async as of right now, it will block all other requests
# while it's processing a Deepl Requests, please enable this with caution!
Enabled = True

[iciba]
# ICIBA Translate (a.k.a. PowerWord) is disabled by default.
Enabled = True

[reverso]
Enabled = True

[network]
port = 5000
host = 0.0.0.0

