version: '3.7'

services:
  redis:
    restart: unless-stopped
    container_name: redis
    image: docker.io/library/redis:alpine
    command: redis-server --save 30 1 --loglevel warning
    networks:
      - searxng
  	volumes:
      - redis-data:/data
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE

  searxng:
    restart: unless-stopped
    container_name: searxng
    image: searxng/searxng:latest
    networks:
      - searxng
    ports:
     - "8081:8080"
    volumes:
      - ./searxng:/etc/searxng:rw
      - ./extras.conf:/etc/searxng/settings.yml:rw
    environment:
      - SEARXNG_BASE_URL=https://{% if server_prefix == 'eu' %}search.projectsegfau.lt{%else%}search.{{inventory_hostname}}.projectsegfau.lt{%endif%}/
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
networks:
  searxng:
    ipam:
      driver: default

volumes:
	redis_data:
